@model Innovation.Areas.Innovation.Models.Components.Tabs.TabLabel
@{
    bool isEditMode = Sitecore.Context.PageMode.IsExperienceEditor;
}


<li>
    <h5>
        <a href="#tab_@Model.TabName">@Model.TabName</a>
    </h5>
</li>
