@model Innovation.Areas.Innovation.Models.Forms.PartnershipIntakeForm

<div class="contact-us-form-section d-flex p-5">
    <div class="container-fluid p-5">
        <div class="row h-100">
            @Html.Raw(Model.ConfirmationMessage)
        </div>
    </div>
</div>