@import "../fonts/_icons.scss";
@import "../fonts/_titles.scss";
@import "../fonts/_copy.scss";
@import "cards";
@import "swiper";
@import "helpers";
@import "navbar";

html {
  //font-size: 62.5%; // 62.5% of 16px = 10px - 64px would be 6.4rem
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.secondary-input {
  border-radius:0.5rem;
  background: rgba(255, 255, 255, 0.10);
  border:none;
  color:$white;
  padding:0.5rem 1rem;
  &::placeholder {
    color:$white;
  }
}