/*header overlay animation*/
@keyframes gradient-animation { 
    0% {
        /*background-position: 0% 50%;*/
        opacity: 0;
    }

    50% {
        /*background-position: 100% 50%;*/
        opacity: 1;
    }

    100% {
        /*background-position: 0% 50%;*/
        opacity: 0;
    }
}
@-webkit-keyframes gradient-animation {
    0% {
        /*background-position: 0% 50%;*/
        opacity: 0;
    }

    50% {
        /*background-position: 100% 50%;*/
        opacity: 1;
    }

    100% {
        /*background-position: 0% 50%;*/
        opacity: 0;
    }
}