@import 'variables';

header {
    height: 150px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    @media screen and (min-width: $tab-breakpoint) {
        position: fixed;
    }

    nav {
        height: 100%;
        width: 100%;
        padding: 20px;
        flex-shrink: 0;
        background: #4E2A84;

        &.home {
            background: linear-gradient(to bottom, #4E2A84, #4E2A8400);
        }

        @media screen and (min-width: $tab-breakpoint) {
            padding: 50px;
            height: unset;
        }

        @media screen and (min-width: $desktop-breakpoint-1440) {
            display: flex;
        }

        .logo {
            width: 100%;

            @media screen and (min-width: $tab-breakpoint) {
                width: 30%;
            }

            img {
                width: 90%;
                height: auto;
                display: block;

                @media screen and (min-width: $tab-breakpoint) {
                    width: 100%;
                }                
            }
        }    
        
        .menu {
            display: flex;
            justify-content: space-between;
            width: 90%;
            position: relative;
            left: -15px;
            padding-top: 8px;

            @media screen and (min-width: $tab-breakpoint) {
                width: 650px;
                padding-top: 30px;
                //left: unset;
            }

            @media screen and (min-width: $desktop-breakpoint-1440) {
                padding-left: 120px;
                width: 750px;
                padding-top: unset;
            }

            a {
                color: white;
                text-decoration: none;
                padding: 0.5rem 1rem;
                font-size: 15px;
                line-height: 20px;
                font-weight: 400;
                
                
                @media screen and (min-width: $tab-breakpoint) {
                    font-size: 20px;
                }

                &.button {

                    background-color: #fff;
                    border: none;
                    border-radius: 5px;
                    padding: 1rem 1.5rem;
                    color: #4E2A84;
                    font-weight: bold;
                    text-transform: capitalize;
                }

                &:hover {
                    text-decoration: underline;
                }

                &.button {
                    &:hover {
                        text-decoration: none;
                        background-color: $NM-Purple-prp-20;
                        color: $NM-Purple-prp-MAIN;
                    }
                }
                &:nth-child(4) {
                    position: absolute;
                    top: 50px;
                    left: 15px;

                    @media screen and (min-width: $tab-breakpoint) {
                        position: relative;
                        top: -10px;
                        left: unset;
                        right: -4vw;
                    }
                    
                }


            }
            
        }
    }    
}

