@model NM_MultiSites.Areas.westhealth.Models.Components.CardViewModel

<!-- Copy Card -->
<div class="copy-card bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 offset-md-1">
                @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Card.Fields.Copy)
            </div>
        </div>
    </div>
</div>