@model NM_MultiSites.Areas.westhealth.Models.Components.CardViewModel

<!-- Image Above Card -->
<div class="copy-card">
   <h3>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Card.Fields.Title)</h3>
    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Card.Fields.Copy)
</div>