@model NM_MultiSites.Areas.westhealth.Models.Components.CardViewModel

<div class="col-lg-5 content-split__container">
    <div class="content-split__content ps-lg-4">
        <p class="content-split__subtitle eyebrow-title text-uppercase mb-3 mt-lg-3" id="collab-label">
            @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Card.Fields.SubTitle)
        </p>
        <h2 id="collab-heading" class="content-split__heading secondary-title mb-4">
            @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Card.Fields.Title)
        </h2>
        <p class="primary-copy primary-copy--dark mb-4">
            @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Card.Fields.Copy)
        </p>
        @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Card.Fields.CtaSource, new { @class = "btn btn-primary" })
    </div>
</div>