@model NM_MultiSites.Areas.westhealth.Models.Components.CardViewModel

<div class="col-lg-6">
    <div class="p-4 p-lg-5 bg-white rounded-1-5">
        <h2 class="secondary-title mt-4 mt-lg-0 mb-4">
            @Model.Title
        </h2>
        <p class="mb-4">
            @Model.Copy
        </p>
    </div>
</div>