@model NM_MultiSites.Areas.westhealth.Models.Components.CardViewModel

<div class="col-lg-6">
    <div class="p-4 p-lg-5 bg-white rounded-1-5">
        <h2 class="secondary-title mt-4 mt-lg-0 mb-4">
            Collaborative care means benefits for patients and
            providers.
        </h2>
        <p class="mb-4">
            The Collaborative Care Model (CoCM) means more people can have access to the care they need using resources that already exist. Our model supports providers and gives them the tools they need to help more patients - without compromising the quality of care.
        </p>
    </div>
</div>