
<div id="formLoader" class="loader-icon-wrapper" style="display:none;">
    <div class="spinner-grow btn-primary me-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow btn-primary me-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow btn-primary me-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow btn-primary me-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow btn-primary me-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>