@model NM_MultiSites.Areas.westhealth.Models.Components.AccordionItemViewModel

<div>
    <div>
        @Model.Title
    </div>
    <div>
        @Model.Copy
    </div>
    <div>
        @Model.Image
    </div>
</div>
