<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <div class="form__container">
                <script type="text/javascript" src="https://northwestern-medicine.formstack.com/forms/js.php/west_health_accelerator_contact_us?no_style_strict=1"></script>
                <noscript>
                    <a href="https://northwestern-medicine.formstack.com/forms/west_health_accelerator_contact_us" title="Online Form">Online Form - West Health Accelerator Contact Us</a>
                </noscript>
            </div>
        </div>
    </div>
</div>