@model NM_MultiSites.Areas.westhealth.Models.Components.EnhancedCalloutViewModel


<div>
    <p>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.EnhancedCallout.Fields.Title)</p>
    <p>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.EnhancedCallout.Fields.Copy)</p>

    <div>@Html.Sitecore().DynamicPlaceholder("enhancedcallout-leftcard")</div>
    <div>@Html.Sitecore().DynamicPlaceholder("enhancedcallout-rightcard")</div>

</div>
