@model NM_MultiSites.Areas.westhealth.Models.Components.EnhancedCalloutViewModel


<div>
    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.EnhancedCallout.Fields.Title)
    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.EnhancedCallout.Fields.Copy)
</div>
