@model NM_MultiSites.Areas.westhealth.Models.Components.SlideViewModel

<div>
    <div>
        @Model.Title
    </div>
    <div>
        @Model.Copy
    </div>
    <div>
        @Model.CTA
    </div>
</div>
