@model NM_MultiSites.Areas.westhealth.Models.Components.TestimonialViewModel


<div>
    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Testimonial.Fields.Image)
    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Testimonial.Fields.Testimonial)
    @Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Testimonial.Fields.Copy)
</div>