@model NM_MultiSites.Areas.westhealth.Models.Components.TwoColumnWithImageViewModel


<div>
    <div>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.TwoColumnWithImage.Fields.Image)</div>

    <div>@Html.Sitecore().DynamicPlaceholder("twocolumnwithimage-card")</div>
</div>
