@model EMS.Areas.ems.Models.SearchResult

<div class="panel col-md-12 bg-white">
    <h2>Search Results</h2>
    @if (Model != null && Model.DataAvailable)
    {
        foreach (var item in Model)
        {
            <div class="searchitem">
                <div class="title" style="padding-bottom: 5px;">
                    @if (!String.IsNullOrEmpty(item.Type))
                    {
                        <span class="doctype">[@item.Type]</span>
                    }
                    <a href="@item.Url">@item.Title</a>
                </div>
                <div class="description text-dark">
                    @item.Description
                </div>
            </div> }
    }
    else
    {

        <div class="searchitem">


            <p class="text-dark">Sorry, no results match <b>@Model.SearchTerm</b>.</p>
            <p class="text-dark">Try the following to help improve your search:</p>
            <ul class="text-dark">
                <li>Check your spelling</li>
                <li>Try more general words</li>
                <li>Try different keywords that mean the same thing</li>
            </ul>

        </div>
    }
    <ul id="searchpagin" class="searchpagination"></ul>
</div>
<script src="~/Areas/ems/Scripts/searchpagination.js"></script>