$formstack-accent: #2d2a80;
$formstack-input-bg: rgba(255, 255, 255, 0.15);
$formstack-placeholder: rgba(255, 255, 255, 0.85);
$formstack-button-hover: #eaeaea;

.footer-form {
  .fsBody {
    background-color:transparent;
    > div[class^=InnerFormBody] {
      padding:2px;
    }
  }
}

#fsform-container-6214449 {
  form {
    display: flex;
    //gap: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    background: transparent;
    padding: 1px;
    margin: 1rem 0;
    flex-direction:column;
    width:auto;
    overflow:hidden;
  }

  .fsLabelVertical {
    //display: none;
  }

  input[type="text"],
  input[type="email"] {
    flex: 1 1 auto;
    background: $formstack-input-bg;
    font-size: 1rem;
    min-width: 200px;
    transition: background 0.3s ease;
    border-radius:0.5rem;
    background: rgba(255, 255, 255, 0.10);
    border:none;
    color:$white;
    padding:0.5rem 1rem;
    &:focus {
      outline: 1px solid $white;
    }

    &::placeholder {
      color: $formstack-placeholder;
    }
  }
  
  label {
    &.fsFieldCell {
      padding-bottom:1.45rem;
      margin-bottom:0.5rem;
      grid-column: span 1;
    }
  }
  
  .fsSupporting, .fsLabel.fsRequiredLabel {
    display:none;
  }
  
  .fsSubmit {
    margin:0;
    padding:0;
    @media only screen and (max-width:991px) {
      width:100%;
    }
  }

  .fsSection {
    column-gap:calc(10px);
    + .fsSection {
      display:none;
    }
    .fsFieldCell {
      &:last-of-type {
        //margin-bottom:0;
      }
    }
  }
  
  .fsValidationError {
    position:absolute;
    top:47px;
    background:transparent;
    border:none;
    color:$white;
    padding-bottom:0;
    padding-top:0;
    margin-bottom:0;
    div {
      color:$white;
      font-size:14px;
    }
    + div input[type="text"],
    input[type="email"] {
      border:1px solid #ff3C3C;
    }
  }

  .fsSubmitButton {
    text-transform:capitalize;
    letter-spacing:0;
    position:relative;
    @media only screen and (max-width:991px) {
      max-width:100%;
    }
    &:after {
      
    }

    &:hover {
      background: $formstack-button-hover;
    }
  }
}

.grecaptcha-badge {
  display: none !important;
}

#fsform-container-6214449 label#label-field184403674, #fsform-container-6214449 label#label-field184606920w {
    @media only screen and (min-width:992px) {
        padding-bottom: 2.9rem;
    }
}

[aria-label="recaptcha response"] {
    color:#FFF;
    margin-top:15px;
}