@using EMS.Areas.ems.Models.User
@model LoginViewModel

@if (String.IsNullOrWhiteSpace(Model.UserName))
{
    <div class="bg-puple-light text-white container-flex loginbar">
        <div class="text-right" style="display: flex;">
            <ul class="col list-inline piped">
                <li><a class="text-white" href="/">Home</a></li>
                <li><a class="text-white" href="/aboutus">About Us</a></li>
                <li><a class="text-white" href="/contactus">Contact Us</a></li>
                <li><a class="text-white" href="/login">Login</a></li>
            </ul>
        </div>
    </div>
}
else
{
    <form class="container-flex text-right text-white d-none d-md-block" method="post">
        <input type="text" id="logout" class="fadeIn third" name="logout" placeholder="password" value="logout" hidden>
        <ul class="col list-inline piped loginbar nomargin">
            <li><a class="text-white" href="/dashboard">Home</a></li>
            <li><a class="text-white" href="/aboutus">About Us</a></li>
            <li><a class="text-white" href="/contactus">Contact Us</a></li>
            <li>
                <span id="label">Signed In As: </span>@Model.UserName.Replace("nmpn\\", "") <a class="logout signout" href="/login/changepassword">(Update Password,</a><button class="btn-link signout" type="submit">Sign Out)</button>
            </li>
        </ul>
    </form>

    <form class="container-flex text-right text-white d-md-none d-lg-none d-xl-none d-sm-block d-xs-block" method="post">
        <input type="text" id="logout" class="fadeIn third" name="logout" placeholder="password" value="logout" hidden>
        <ul class="col list-inline piped loginbar nomargin" style="padding-left:5px;font-size:10px;">
            <li class="margin-left:2px;"><a class="text-white" href="/dashboard">Home</a></li>
            <li class="margin-left:2px;"><a class="text-white" href="/aboutus">About Us</a></li>
            <li class="margin-left:2px;"><a class="text-white" href="/contactus">Contact Us</a></li>
            <li class="margin-left:2px;">
                <a class="logout signout" href="/login/changepassword">Update Password</a><button class="btn-link signout" type="submit">Sign Out</button>
            </li>
        </ul>
    </form>
}
