@using EMS.Areas.ems.Models.User
@model PasswordUpdate


<link href="~/Areas/ems/Content/login.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">

        @if (Model == null)
        {
            <!-- Login Form -->
            <form method="post" class="topmargin35">
                @Html.TextBoxFor(m => m.UserName, new { @id = "username", @class = "fadeIn first", @placeholder = "User Name", @autocomplete = "off" })
                @*<input type="text" id="username" class="fadeIn second" name="username" placeholder="Please enter user name" autocomplete="off">*@
                <input type="submit" class="fadeIn fourth" value="Submit">
            </form>
        }
        else
        {

            if (!String.IsNullOrWhiteSpace(@Model.Message))
            {
                <p class="alert alert-info" role="alert">
                    @Model.Message
                </p>
            }
            <form method="post">
                @Html.TextBoxFor(m => m.UserName, new { @id = "username", @class = "fadeIn first", @placeholder = "User Name", @autocomplete = "off" })
                @*<input type="text" id="username" class="fadeIn second" name="username" placeholder="Please enter user name" autocomplete="off">*@
                <input type="submit" class="fadeIn fourth" value="Submit">
            </form>
        }
    </div>
</div>