@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@using NM_MultiSites.Areas.ems.Helper
@{
    var item = SitecoreAccess.getSiteSettingItem() ?? RenderingContext.Current.Rendering.Item;
}
<footer class="container">
    @if (item != null)
    {
        <p style="text-align: center">@Html.Sitecore().Field("Footertext", item)</p>
    }

</footer>
