@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>@Html.Sitecore().Field("Meta Title")</title>
    <!--  <link href="/Areas/ems/Content/bootstrap-new.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="/Areas/ems/Content/main.css" rel="stylesheet" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-T75XQ4H');
    </script>
    <!-- End Google Tag Manager -->
</head>
<body>

    @Html.Sitecore().Placeholder("header")
    @Html.Sitecore().Placeholder("main")
    @Html.Sitecore().Placeholder("footer")
    <!-- <script src="/Areas/ems/Scripts/bootstrap.bundle.js" defer></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" defer></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" defer></script>
    <script src="~/Areas/ems/Scripts/accordion.js" defer></script>
    <script src="~/Areas/ems/Scripts/global.js" defer></script>
    <!-- Google Tag Manager (noscript) -->
    @*<noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T75XQ4H"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>*@
    <!-- End Google Tag Manager (noscript) -->
</body>
</html>