@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@using Sitecore.Mvc.Extensions
@using NM_MultiSites.Areas.ems.Helper
@{
    var item = SitecoreAccess.getSiteSettingItem() ?? RenderingContext.Current.Rendering.Item;
    String url = String.Empty;
    String imageFullPath = String.Empty;
    if (item != null && item.Fields["Image"] != null && item.Fields["Image"].HasValue)
    {
        Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["Image"]);
        url = imgField != null ? Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem) : String.Empty;
        imageFullPath = item.Paths.FullPath;
    }

}
<div class="main-header">
    <h6 id="site-title" class="no-print">
        @if (url != null)
        {
            <a href="/" class="link-home">
                <img src="@url" class="logo image" />

            </a>
        }
        else if (Sitecore.Context.PageMode.IsExperienceEditor)
        {
            <span style="width:100%;border:1px solid;"> Select Data Source for carousel</span>
        }

    </h6>

</div>