@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<header class="container-flex">

    <nav class="navbar navbar-expand-xl navbar-dark  bg-puple-light bg-blue-image">
        @Html.Sitecore().Placeholder("logo")
        @Html.Sitecore().Placeholder("navigationmenu")
    </nav>
</header>