@using System.Web.Mvc
@model NM_MultiSites.Areas.ems.Models.User.NMPNUser

    <div class="container">
        <p class="alert alert-info">
            You are not authorized to view this page.
        </p>
    </div>