
<form class="order-sm-12 col-xl-3 form-inline input-group has-search justify-content-end" method="get" action="/search">
    <input type="search" name="searchterm" id="searchterm" class="search-input bg-puple-light" placeholder="How may we help you?">
    <div class="input-group-append">
        <button id="btn-search" class="btn-secondary btn-search" type="submit">
            <i class="fa fa-search"></i>
        </button>
    </div>
</form>
<script src="~/Areas/ems/Scripts/searchbar.js"></script>