
@*<form class="order-sm-12 form-inline input-group has-search justify-content-end" method="get" action="/search">
        <span class="fa fa-search form-control-feedback justify-content-start"></span>
        <input type="text" name="searchterm" id="searchterm" class="form-control search-input" placeholder="Search">
        <div class="input-group-append">
            <button id="btn-search" class="btn btn-secondary" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div> 
    </form>*@

    <form class="order-sm-12 col-xl-2 form-inline input-group has-search justify-content-end" method="get" action="/search">
        <input type="search" name="searchterm" id="searchterm" class="search-input" placeholder="How may we help you?">
        <div class="input-group-append">
            <button id="btn-search" class="btn-secondary btn-search" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>
<script src="~/Areas/ems/Scripts/searchbar.js"></script>