@model NM_MultiSites.Areas.Longevity.Models.Components.VideoCarousel

@if (Model.VideoCollection != null && Model.VideoCollection.Any())
{

    <div class="component-video-carousel">
        <script>
            const videoFiles = [
                @foreach (var video in @Model.VideoCollection)
                {
                    @: "@video.VideoPath",
                }
            ];
        </script>
        <video id="loopingVideo" autoplay muted></video>
        <div class="video-overlay">
            <div class="copy">
                <div class="large-text"><h1>@Model.Title1</h1></div>
                <div class="spacer-100"></div>
                <div class="large-text">@Model.Title2</div>
            </div>
            <div class="bottomnmpattern">
                <img src="~/Areas/longevity/Content/img/bottomnmpattern.png" alt="Logo">
            </div>
        </div>
    </div>

}