.contact-container {
    background: center / cover no-repeat;
    height: 100%;
    /*Commenting out since we have the six-six template in 
    @media only screen and (min-width:1254px) {
        width: 50%;
        height: 1354px;
    }
    */
    /*setting minimum height so that the map always displays on desktop and mobile, and after form submission*/
    min-height: 1000px;

    @media only screen and (min-width:767px) {
        min-height: 1400px;
    }

    .contact-info {
        padding-left: 50px;
        padding-right: 12px;
        margin-right: 1px;
        backdrop-filter: blur(7px) brightness(100%);
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        -webkit-backdrop-filter: blur(7px) brightness(100%);
        padding-top: 68px;

        @media only screen and (min-width:992px) {
            height: 27%;
        }

        @media only screen and (max-width:992px) {
            max-height: 500px;
        }

        @media only screen and (max-width:767px) {
            padding-top: 25px;
            max-height: 420px;
        }

        @media only screen and (max-width:400px) {
            padding-top: 25px;
            max-height: 480px;
        }

        .contact-block {
            /*backdrop-filter: blur(7px) brightness(1.05);*/
            border: none;

            @media only screen and (min-width:992px) {
                padding: 2rem .5rem;
            }

            @media only screen and (max-width:991px) {
                padding: .35rem;
                display: flex;
                flex-direction: column;
            }

            &:last-of-type {

                @media only screen and (min-width: 992px) and (max-width: 1130px) {
                    padding-left: 30px;
                }
            }

            h6 {
                text-transform: uppercase;
                font-size: $font-size-h5;
                margin-bottom: 24px;
                font-weight: $font-weight-extra-bold;

                @media only screen and (max-width:767px) {
                    margin-bottom: 14px;
                }
            }

            .social {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                gap: 30px;

                &.icon-links {

                    .list-inline-item {
                        margin-right: 0 !important;

                        a {
                            padding: 0;
                        }

                        .bi {
                            font-size: $font-size-h5;
                        }
                    }
                }
            }
        }
    }
}
