.cs-pagination {
    background: $glass-bg;
    backdrop-filter: blur(2px);

    .list-group-horizontal {
        align-items: center;
        min-height: 200px;
        justify-content: center;

        li {
            border: 0 none;
            flex: 1 1 0px !important;
            background-color: unset;
            padding-left: 50px;

            @media only screen and (min-width: 767px) and (max-width: 992px) {
                max-width: 25%;
                margin: 0 25px;
            }

            &:last-of-type {
                padding-left: 0;

                @media only screen and (min-width: 767px) and (max-width: 992px) {
                    padding-left: 35px;
                    padding-right: 35px;
                }
            }

            &.bg-color-inherit {
                background-color: inherit !important;
            }

            a {
                color: $primary-cta;
                text-decoration: none;
                position: relative;

                &:hover {
                    color: $primary-cta-hover;

                    .icon {
                        background-color: $primary-cta-hover;
                    }
                }
            }

            span {
                &.icon {
                    font-size: 20px;
                    width: 40px;
                    height: 40px;
                    line-height: 48px;
                    position: absolute;
                    left: -45px;
                    top: -10px;
                    color: $secondary-color;
                    background-color: $primary-cta;
                    text-align: center;
                    font-style: normal;
                    border-radius: 50%;
                    transition: all 0.5s ease 0s;

                    @media only screen and (min-width: 767px) and (max-width: 992px) {
                        top: 0;
                        margin: 0 30px;
                        left: -80px;
                    }

                    &:last-of-type {
                        left: unset;
                        right: -45px;

                        @media only screen and (min-width: 767px) and (max-width: 992px) {
                            right: -100px;
                        }
                    }

                    &::before {
                        vertical-align: .075em;
                    }
                }
            }
        }
    }
}
