//partnership form tab content
#partnershipIntake-form {

    .resp-tabs-container {

        @media only screen and (max-width: 768px) {
            background: transparent;
            margin-bottom: 0;

            h2.resp-accordion {
                background: rgb(99,89,158);
                background: linear-gradient(135deg, rgba(99,89,158,1) 0%, rgba(127,109,242,1) 55%, rgba(22, 184, 202, 0.75) 100%);
                color: $secondary-color;
                padding: 2rem;
                font-size: $font-size-extra-large;
                border: none !important;
                margin-bottom: 3rem;
                display: flex;
                flex-direction: row-reverse;
                justify-content: left;

                &.resp-tab-active {
                    padding: 2rem !important;

                    span {

                        &.resp-arrow {
                            display: none;
                        }
                    }
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                span {

                    &.bi-1-circle, &.bi-2-circle,
                    &.bi-3-circle, &.bi-4-circle {
                        display: none;
                    }

                    &.bi-check-circle-fill {
                        margin-left: 10px;
                    }

                }

                .resp-arrow {
                    display: none;
                }
            }
        }
    }
}

//section-tabs-panel (focus areas)

.section-tab-panel {
    margin-top: 5rem;

    .section-header {
        h3 {
            font-size: 48px;
            padding: 2rem;
            font-weight: 800;
        }

        @media only screen and (min-width:992px) {
            display: none;
        }
    }

    .resp-tabs-list {
        display: flex;

        @media only screen and (max-width: 992px) {
            display: none !important;
        }

        li {
            width: 275px;
            margin: 0 3rem;

            &.resp-tab-item {
                border-bottom: 7px solid rgba(0, 119, 138, .5);

                &:hover {
                    border-bottom: 7px solid rgba(0, 119, 138, .8);
                }
            }

            &.resp-tab-active {
                border-bottom: 7px solid #00778a !important;
            }

            a {
                color: #333;
                font-weight: $font-weight-extra-bold;

                &:hover, &:active, &:focus {
                    text-decoration: none;
                }
            }
        }
    }

    .tab-panel-container {


        @media only screen and (min-width:992px) {
            display: flex;
            margin: 2rem 10rem;
        }

        .title-card {
            background-color: $glass-bg;
            backdrop-filter: blur(7px) brightness(100%);
            margin-right: 2rem;
            max-width: 625px;
            height: 400px;
            padding: 50px;
            flex: 1 0 0;
            border: .5px solid $glass-bg;

            @media only screen and (max-width: 1400px) {
                height: 100%;
                min-width: 100%;
                margin-bottom: 20px;
            }

            h2 {

                @media only screen and (max-width: 768px) {
                    display: none;
                }
            }

            .body-content {
                font-size: 24px;
            }
        }

        .tabs-content {
            flex: 2 0 0;
        }

        .image-card {
            margin-bottom: 1rem;

            img {
                max-height: 400px;
                object-fit: cover;
            }
        }

        .body-card {
            background-color: $glass-bg;
            backdrop-filter: blur(7px) brightness(100%);
            padding: 1rem;
            border: .5px solid $glass-bg;

            @media only screen and (min-width:768px) {
                padding: 5rem;
                height: 335px;
            }

            h6 {
                font-size: 42px;
                font-weight: normal;
            }

            p {
                font-size: 24px;
            }
        }

        h2.resp-accordion {
            padding: 2rem;
            background: $glass-bg;
            backdrop-filter: blur(7px) brightness(100%);
            border: none;
            margin-bottom: 1.5rem;

            @media only screen and (max-width: 992px) {
                display: block;
            }

            h5 a {
                color: #333;
                font-weight: 800;
                margin-right: 10px;

                &:hover {
                    text-decoration: none;
                    cursor: pointer;
                }
            }

            &.resp-tab-active {
                padding: 2rem !important;

                span {

                    &.resp-arrow {
                        transform: rotate(-45deg);
                        border-bottom: unset;
                        margin-top: 10px;
                    }
                }
            }

            .resp-arrow {
                width: 1.5em;
                height: 1.5em;
                border-right: 5px solid $primary-cta;
                border-top: 5px solid $primary-cta;
                border-left: unset;
                transform: rotate(135deg);
                margin-right: 0.5em;
                border-radius: 2px;
                -moz-transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
        }
    }

    .focus-link {
        padding: 2rem;
        text-align: center;
    }
}
