@model NM_MultiSites.Areas.Innovation.Models.Components.BasePanel

@{
    bool isEditMode = Sitecore.Context.PageMode.IsExperienceEditor;
}
    <section class="card-list-panel">
        <div class="panel-header">
            <h2 class="panel-title">@Model.Title</h2>
            <p class="panel-content">
                @Model.Subtitle
            </p>
        </div>
        <div class="section-content row">
            <div class="team-cards group-cards four-column">
                @Html.Sitecore().DynamicPlaceholder("Bio_Panel")
            </div>
        </div>
    </section>
    <div class="transparency">
    </div>
    <div  class="transparency-background">
    </div>

