@model NM_MultiSites.Areas.westhealth.Models.Navigation.InternalNavigationViewModel

<div class="container mt-3 internal-nav">
    <div class="row">
        <div class="col-12">
            <nav class="nav utility-nav row gap-3">
                @foreach (var navItem in Model.Links)
                {
                    <div class="col-12 col-md-6 col-lg-3">
                        <a class="h-100 d-flex align-items-center justify-content-between text-start btn btn-outline-primary position-relative" href="#@navItem.SectionId" onclick="scrollToSection(event)">
                            @navItem.Title
                            <i class="bi bi-arrow-down-short ms-3 opacity-0 transition-opacity transition--fast"></i>
                        </a>
                    </div>
                }
            </nav>
        </div>
    </div>
</div>

<script>
    function scrollToSection(event) {
        event.preventDefault();
        const target = document.querySelector(event.currentTarget.getAttribute("href"));
        if (target) {
            target.scrollIntoView({ behavior: "smooth" });
        }
    }
</script>