<!--

Purpose: This include file adds a new site definition

To enable this, rename this file so that it has a ".config" extension and 
change all the parameters to suit your own scenario

Notice how "patch:before" is used to insert the site definition BEFORE the 
existing <site name="website" ...> element 

You can use "patch:before" and "patch:after" as an attribute of an inserted 
element to specify an insertion point for the new element. Both accept an 
XPath relative to the parent node of the inserted element.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="innovation" patch:after="site[@name='modules_website']"
	        hostName="*.innovation.nm.org|innovation.nm.org"
            notFoundItem="/page-not-found"
            virtualFolder="/"
            physicalFolder="/"
            rootPath="/sitecore/content"
            startItem="/innovation"
            database="web"
            domain="extranet"
            allowDebug="true"
            cacheHtml="true"
            htmlCacheSize="10MB"
            enablePreview="true"
            enableWebEdit="true"
            enableDebugger="true"
            disableClientData="false"/>
    </sites>
	  <settings>
		  <!-- Google Captcha Key -->
		  <setting name="SiteKey" value="" />
		  <setting name="SecretKey" value="" />
		  <!--YouTube Keys -->
		  <setting name="YoutubeApiKey" value="" />
		  <setting name="YoutubeChannelId" value="" />
		  <!-- Google Private Key -->
		  <setting name="Google:PrivateKey" value="" />
		  <!-- MapBox Key -->
		  <setting name="MapBox:MapKey" value="pk.eyJ1Ijoibm9ydGh3ZXN0ZXJubWVkaWNpbmUiLCJhIjoiY2oxNmpxMnliMDJwdDJ3cXV4cHVkejFyZiJ9.iKxbuW14Ygf2GvubfwKYyA" />
	  </settings>
	  <linkManager defaultProvider="sitecore">
		  <providers>
			  <add name="sitecore">
				  <patch:attribute name="lowercaseUrls">true</patch:attribute>
			  </add>
		  </providers>
	  </linkManager>
  </sitecore>
</configuration>