<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <passwordRecovery argsType="Sitecore.Pipelines.PasswordRecovery.PasswordRecoveryArgs">
		  <processor type="NM_MultiSites.Areas.ems.Pipelines.GenerateToken, NM_MultiSites" />
		  <processor type="NM_MultiSites.Areas.ems.Pipelines.PopulateConfirmMail, NM_MultiSites" />
		  <processor type="NM_MultiSites.Areas.ems.Pipelines.SendEmail, NM_MultiSites" />
      </passwordRecovery>
    </processors>
  </sitecore>
</configuration>