<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <processors>
      <passwordRecovery argsType="Sitecore.Pipelines.PasswordRecovery.PasswordRecoveryArgs">
        <processor patch:instead="processor[@type='Sitecore.Pipelines.PasswordRecovery.GeneratePassword, Sitecore.Kernel']"
          mode="on" type="EMS.Areas.ems.Pipelines.GenerateToken, EMS" />
        <processor patch:instead="processor[@type='Sitecore.Pipelines.PasswordRecovery.PopulateMail, Sitecore.Kernel']"
          mode="on" type="EMS.Areas.ems.Pipelines.PopulateConfirmMail, EMS" />
      </passwordRecovery>
    </processors>
  </sitecore>
</configuration>