@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <header id="site-header" class="d-flex">
        @{ Html.Sitecore().RenderControllerRendering("Navigation", "Header", new { area = "westhealth" }); }
    </header>
    <main>
        <div class="main-contain">
            @Html.Sitecore().Placeholder("westhealth-main")
        </div>
    </main>
    <footer id="site-footer" class="footer-container mb-5">
        @{ Html.Sitecore().RenderControllerRendering("Navigation", "Footer", new { area = "westhealth" }); }
    </footer>
</body>
</html>