@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Html.Sitecore().Field(NM_MultiSites.Areas.westhealth.Templates.Global.Fields.MetaTitle)</title>
    <link href="https://fonts.googleapies.com/css2?family=Open+Sans:wght@400;600;700&display=swap" />
    <link rel="stylesheet" href="~/Areas/westhealth/Content/dist/css/style.min.css"/>
</head>
<body>

    <header id="site-header" class="d-flex">
        @{ Html.Sitecore().RenderControllerRendering("Navigation", "Header", new { area = "westhealth" }); }
    </header>
    <main>
        <div class="main-contain">
            @Html.Sitecore().Placeholder("westhealth-main")
        </div>
    </main>
    <footer id="site-footer" class="footer-container mb-5">
        @{ Html.Sitecore().RenderControllerRendering("Navigation", "Footer", new { area = "westhealth" }); }
    </footer>
    <script type="module" src="~/Areas/westhealth/Content/dist/js/bundle.min.js"></script>
</body>
</html>