@using NM_MultiSites.Areas.ems.Models.User
@model PasswordUpdate


<link href="~/Areas/ems/Content/login.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
    <div id="formContent">

        @if (Model == null)
        {
            <!-- Login Form -->
            <form method="post" class="topmargin35">
                @Html.TextBoxFor(m => m.UserName, new { @id = "username",
                    @class = "fadeIn first form-required",
                    @placeholder = "User Name",
               @oninvalid = "this.setCustomValidity('Please Enter User Name')",
                    @oninput = "setCustomValidity('')",
               @autocomplete = "off",
                    @required = "required",
                    @title = "This field is required."
                })
                @*<input type="text" id="username" class="fadeIn second" name="username" placeholder="Please enter user name" autocomplete="off">*@
                <input type="submit" class="fadeIn fourth" value="Submit">
            </form>
        }
        else
        {

            if (!String.IsNullOrWhiteSpace(@Model.Message))
            {
                <p class="alert alert-info" role="alert">
                    @Model.Message
                </p>
            }
            <form method="post">
                @Html.TextBoxFor(m => m.UserName, new { @id = "username", @class = "fadeIn first form-required", @placeholder = "User Name", @autocomplete = "off", @title = "This field is required." })
                @*<input type="text" id="username" class="fadeIn second" name="username" placeholder="Please enter user name" autocomplete="off">*@
                <input type="submit" class="fadeIn fourth" value="Submit">
            </form>
        }
    </div>
</div>