@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.Authentication
@using System.Web
@using Sitecore.Data.Fields
@using EMS.Areas.ems.Helper
@model RenderingModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    @{
        CheckboxField authField = (CheckboxField)Model.Item.Fields["IsAuthenticatedPage"];

        if (authField != null && authField.Checked)
        {
            var TicketCookie = HttpContext.Current.Request.Cookies[TicketManager.CookieName];
            if (TicketCookie == null || TicketCookie.Value == String.Empty || !TicketManager.IsTicketValid(TicketCookie.Value))
            {
                string newUrl = Request.Url.GetComponents(UriComponents.AbsoluteUri & ~UriComponents.Port, UriFormat.UriEscaped);
                Response.Redirect("/Login?url=" + Server.UrlEncode(newUrl));
            }
        }
    }
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>@Html.Sitecore().Field("Meta Title")</title>
    <!--  <link href="/Areas/ems/Content/bootstrap-new.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link href="/Areas/ems/Content/nmpnmain.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79500465-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-79500465-1');
    </script>

</head>
<body>

    @Html.Sitecore().Placeholder("header")
    @Html.Sitecore().Placeholder("main")
    @Html.Sitecore().Placeholder("footer")
    <!-- <script src="/Areas/ems/Scripts/bootstrap.bundle.js"></script>-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="~/Areas/ems/Scripts/global.js"></script>

</body>
</html>