@model NM_MultiSites.Areas.Innovation.Models.Components.BasePanel

@{
    bool isEditMode = Sitecore.Context.PageMode.IsExperienceEditor;
}
<section class="panel panel-alt">
    @if (Model.Title != null || isEditMode)
    {
    <h2 class="panel-title">@Model.Title</h2>
    }
    <div class="panel-content">
        @Model.Body
    </div>
</section>
