@model NM_MultiSites.Areas.Innovation.Models.Components.StatComponentPanel
@{
    bool isEditMode = Sitecore.Context.PageMode.IsExperienceEditor;
}
@if (Model != null)
{
    <section class="panel section-stats stat-component">
        <div class="section-content row">
            <div class="group-cards">
                @if (Model.Title != null && !String.IsNullOrWhiteSpace(Model.Title.ToString()))
                {
                    <h2 class="panel-title">@Model.Title</h2>
                }
            </div>
        </div>
        <div class="section-content stat-section-content row">
            <div class="group-cards">
                <div class="panel-content">
                    <div class="group-cards">
                        @Html.Sitecore().DynamicPlaceholder("StatComponentPanel")
                    </div>
                </div>
            </div>
        </div>
    </section>
}

                        
