
@{
    Layout = null;
}

<div class="panel col-md-12">
    <h1 class="page-header">My CI reports</h1>
    <div class="">
        <p>
            <span style="font-size: 20px;display: block;">Please Scroll down to the Title section to access your CI Reports </span>


            If you have questions regarding your CI Report, please contact Bushra Khan; Director, Clinical Integration and Quality at bushra.khan@nm.org<br>
        </p>
    </div>
    <table id="cireporttable" class="display" >
        <thead>
            <tr>
                <th>Title</th>
                <th>NPI</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script src="~/Areas/ems/Scripts/cireport.js"></script>