<section class="news-featured position-relative my-5 d-flex flex-column justify-content-center">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <!-- Section Title -->
            <div class="section-title">
                <h2 class="secondary-title mb-5">Additional Resources</h2>
            </div>

            <!-- Repeat -->
            <div class="row g-4 card-row">
                <!-- Card 1 -->
                <div class="col-md-6">
                    {% ContentCard
                    "",
                    "Learn more about the Accelerator",
                    "The Northwestern Medicine West Health Accelerator is an initiative to make mental health care more accessible by integrating it into primary care through a collaborative care model.",
                    "Learn More",
                    "#"
                    %}
                </div>
                <!-- /Repeat -->
                
                <div class="col-md-6">
                    {% ContentCard
                    "",
                    "Interested? Contact us to get started.",
                    "Reach out to learn more about the Accelerator’s resources, the Collaborative Behavioral Health Program, or Northwestern Medicine, West Health and Meadows Mental Health Policy Institute research.",
                    "Contact Us",
                    "#"
                    %}
                </div>
                
            </div>
        </div>
    </div>
    </div>
</section>