<section class="hero-carousel mt-0 pt-5 mb-5" data-hero-carousel>
    <div class="container">
        <div class="swiper hero-swiper">
            <div class="swiper-wrapper">
                <!-- Slide 1 -->
                <div class="swiper-slide">
                    <div class="row hero-content">
                        <div class="col-md-6">
                            <h2 class="primary-title text-white">Together, we are transforming mental health care.</h2>
                        </div>
                        <div class="col-md-5 offset-md-1">  
                            <h3 class="text-white secondary-title">Optional Title</h3>
                            <p class="mb-3">The Northwestern Medicine West Health Accelerator is an initiative to make 
                                mental 
                                health care more accessible by integrating it into primary care through a Collaborative Care Model (CoCM). Seamless access to mental health care means earlier intervention and more optimized treatments for the patients across the country who need it most.</p>
                            <a href="#" class="btn btn-light">Join Our Movement</a>
                        </div>
                    </div>
                </div>
                <!-- Slide 2 -->
                <div class="swiper-slide">
                    <div class="row hero-content">
                        <div class="col-md-6">
                            <img src="/images/fpo-hero-left.png" class="ratio ratio-1x1 rounded-2" alt="">
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <h2 class="primary-title text-white">
                                Bridging gaps in mental health care: Northwestern Medicine West Health Accelerator.
                            </h2>
                            <p>The Northwestern Medicine West Health Accelerator is changing how we provide and access mental health care. Northwestern Medicine psychiatrist, Lisa J. Rosenthal, MD, discusses the new initiative and the future of patients and physicians.</p>
                            <a href="#" class="btn btn-light">Listen Now</a>
                        </div>
                    </div>
                </div>
                <!-- Slide 3 -->
                <div class="swiper-slide">
                    <div class="row hero-content flex-row-reverse">
                        <div class="col-md-6">
                            <img src="/images/fpo-hero-left.png" class="ratio ratio-1x1 rounded-2" alt="">
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <h2 class="primary-title text-white">
                                Bridging gaps in mental health care: Northwestern Medicine West Health Accelerator.
                            </h2>
                            <p>The Northwestern Medicine West Health Accelerator is changing how we provide and access mental health care. Northwestern Medicine psychiatrist, Lisa J. Rosenthal, MD, discusses the new initiative and the future of patients and physicians.</p>
                            <a href="#" class="btn btn-light">Listen Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <!-- Navigation + Pagination -->
        <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
            </svg>
        </div>
        <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
            </svg>
        </div>
    </div>
</section>