<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <nav class="nav utility-nav gap-3">
                <a class="d-flex align-items-center col text-start btn btn-outline-primary position-relative" href="#northwestern" onclick="scrollToSection(event)">
                    Northwestern Medicine
                    <i class="bi bi-arrow-down-short ms-3 opacity-0 transition-opacity transition--fast"></i>
                </a>
                <a class="d-flex align-items-center col text-start btn btn-outline-primary" href="#westhealth" onclick="scrollToSection(event)">West Health
                    <i class="bi bi-arrow-down-short ms-3 opacity-0 transition-opacity transition--fast"></i>
                </a>
                <a class="d-flex align-items-center col text-start btn btn-outline-primary" href="#meadows" onclick="scrollToSection(event)">Meadows Institute
                    <i class="bi bi-arrow-down-short ms-3 opacity-0 transition-opacity transition--fast"></i>
                </a>
                <a class="d-flex align-items-center col text-start btn btn-outline-primary" href="#advisory" onclick="scrollToSection(event)">Advisory Council
                    <i class="bi bi-arrow-down-short ms-3 opacity-0 transition-opacity transition--fast"></i>
                </a>
            </nav>
        </div>
    </div>
</div>
<script>
    function scrollToSection(event) {
        event.preventDefault();
        const target = document.querySelector(event.currentTarget.getAttribute("href"));
        if (target) {
            target.scrollIntoView({ behavior: "smooth" });
        }
    }
</script>