<div class="container">
    <div class="row">
        <div class="col-12">
            <section id="northwestern" class="my-3 bg-light">
                <div class="container bg-white rounded-3 p-4 py-5 shadow-sm">
                    <!-- Header -->
                    <div class="row mb-4">
                        <div class="col-md-10 offset-md-1 mb-3">
                            <img src="https://placehold.co/210x43" alt="Northwestern Medicine Logo" class="img-fluid" />
                        </div>
                        <div class="col-md-10 offset-md-1">
                            <h2 class="introduction-title mb-5">Northwestern Medicine</h2>
                            <div class="multi-column-copy primary-copy primary-copy--dark">
                                <p class="emphasis-title">
                                    Northwestern Medicine is the shared strategic vision of Northwestern Memorial HealthCare and Northwestern University Feinberg School of Medicine to transform the future of health care.
                                </p>
                                <p>With the academic foundation of Feinberg School of Medicine, Northwestern Medicine is committed to transforming the way health care is delivered.</p>
                                <p>Northwestern Medicine is a nonprofit, integrated academic health system that exists to make people better by making medicine better, providing world-class care to patients in Chicago and the surrounding suburbs, as well as patients who travel from all 50 states and more than 100 countries.</p>
                                <p>The health system has more than 200 locations with 11 hospitals, three medical groups, more than 5,000 physicians and approximately 40,000 employees.</p>
                                <p>Feinberg School of Medicine is a research-intensive medical school that fosters powerful collaborations on a thriving academic medical campus. Departments within Feinberg School of Medicine that will be supporting the Northwestern Medicine West Health Accelerator include The Department of Medical Social Sciences and The Center for Dissemination & Implementation Science.</p>
                                <p>Learn more at <a href="#">nm.org.</a></p>
                            </div>
                        </div>
                    </div>
            
                    {% include "ThreeColAccordion.html" %}
                </div>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <section id="westhealth" class="my-3 bg-light">
                <div class="container bg-white rounded-3 p-4 py-5 shadow-sm">
                    <!-- Header -->
                    <div class="row mb-4">
                        <div class="col-md-10 offset-md-1 mb-3">
                            <img src="https://placehold.co/210x43" alt="Northwestern Medicine Logo" class="img-fluid" />
                        </div>
                        <div class="col-md-10 offset-md-1">
                            <h2 class="introduction-title mb-5">West Health</h2>
                            <div class="multi-column-copy primary-copy primary-copy--dark">
                                <p class="emphasis-title">
                                    Northwestern Medicine is the shared strategic vision of Northwestern Memorial HealthCare and Northwestern University Feinberg School of Medicine to transform the future of health care.
                                </p>
                                <p>With the academic foundation of Feinberg School of Medicine, Northwestern Medicine is committed to transforming the way health care is delivered.</p>
                                <p>Northwestern Medicine is a nonprofit, integrated academic health system that exists to make people better by making medicine better, providing world-class care to patients in Chicago and the surrounding suburbs, as well as patients who travel from all 50 states and more than 100 countries.</p>
                                <p>The health system has more than 200 locations with 11 hospitals, three medical groups, more than 5,000 physicians and approximately 40,000 employees.</p>
                                <p>Feinberg School of Medicine is a research-intensive medical school that fosters powerful collaborations on a thriving academic medical campus. Departments within Feinberg School of Medicine that will be supporting the Northwestern Medicine West Health Accelerator include The Department of Medical Social Sciences and The Center for Dissemination & Implementation Science.</p>
                                <p>Learn more at <a href="#">nm.org.</a></p>
                            </div>
                        </div>
                    </div>
            
                    {% include "ThreeColAccordion.html" %}
                </div>
            </section>
        </div>
    </div>
</div>