<section class="offset-content-with-tabs mb-5">
    <div class="offset-content-with-tabs-bg">
        <img src="/images/bg-collaborative-care@1.5x.jpg" alt="">
    </div>
    <div class="container-fluid container-lg position-relative">
        <div class="row align-items-end justify-content-center">
            <div class="col-lg-6">
                <div class="p-4 p-lg-5 bg-white rounded-1-5">
                    <h2 class="secondary-title mt-4 mt-lg-0 mb-4">Collaborative care means benefits for patients and 
                        providers.</h2>
                    <p class="mb-4">
                        The Collaborative Care Model (CoCM) means more people can have access to the care they need using resources that already exist. Our model supports providers and gives them the tools they need to help more patients - without compromising the quality of care.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1">
                <div class="benefit-tabs">
                    <h3 class="benefit-tabs-title active">Benefits for Providers</h3>
                    <h3 class="benefit-tabs-title">Benefits for Patients</h3>
                    <ul class="nav nav-tabs" id="benefitCareTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="provider-tab" data-title="Providers" 
                                    data-bs-toggle="tab"
                                    data-bs-target="#provider-tab-pane" type="button" role="tab"
                                    aria-controls="provider-tab-pane" aria-selected="true">Provider</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="patient-tab" data-title="Patients" data-bs-toggle="tab"
                                    data-bs-target="#patient-tab-pane" type="button" role="tab"
                                    aria-controls="patient-tab-pane" aria-selected="false">Patient</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="benefitTabContent">
                        <div class="tab-pane fade show active" id="provider-tab-pane" role="tabpanel"
                             aria-labelledby="provider-tab" tabindex="0">
                            <ul class="list-unstyled">
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" 
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-light mt-4 w-100">Download PDF <i class="bi bi-download"></i></a>
                        </div>
                        <div class="tab-pane fade" id="patient-tab-pane" role="tabpanel" aria-labelledby="patient-tab"
                             tabindex="0">
                            <ul class="list-unstyled">
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                                <li class="d-flex gap-3 align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                         viewBox="0 0 30 30" fill="none" class="flex-shrink-0">
                                        <circle cx="15" cy="15" r="14.5" fill="white" fill-opacity="0.1" stroke="white"/>
                                        <path d="M9 14.1863L13.2923 19L21 11" stroke="white"/>
                                    </svg>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing 
                                    elit</span>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-light mt-4 w-100">Download PDF
                                <i class="bi bi-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>