<section class="news-featured position-relative py-5 d-flex flex-column justify-content-center bg-white">
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <!-- Section Title -->
            <div class="section-title">
                <h2 class="secondary-title secondary-title--dark">Research Cards</h2>
            </div>

            <!-- Repeat -->
            <div class="row g-4 card-row">
                <!-- Card 1 -->
                <div class="col-md-6">
                    {% ContentCard
                    "",
                    "Collaborative care for depression management in primary care:  A randomized roll-out trial using a type 2 hybrid effectiveness-implementation design",
                    "",
                    "Read More",
                    "#",
                    "ScienceDirect",
                    "dark"
                    %}
                </div>
                <!-- /Repeat -->
                
                <div class="col-md-6">
                    {% ContentCard
                    "",
                    "Multilevel perspectives on the implementation of the collaborative care model for depression and anxiety in primary care",
                    "",
                    "Read More",
                    "#",
                    "ScienceDirect",
                    "default"
                    %}
                </div>
                
                <div class="col-md-6">
                    {% ContentCard
                    "",
                    "Multilevel perspectives on the implementation of the collaborative care model for depression and anxiety in primary care",
                    "",
                    "Read More",
                    "#",
                    "ScienceDirect",
                    "shadow"
                    %}
                </div>
                
            </div>
        </div>
    </div>
    </div>
</section>