<div class="bg-white py-5">
    <div class="container single-col-accordion">    
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1 mb-4">
                <div class="section-title">
                    <h2 class="secondary-title secondary-title--dark">FAQs</h2>
                </div>
            </div>
            <div class="col-md-10 offset-md-1">
                <div class="accordion position-relative rounded" id="teamAccordions">
                    <div class="accordion-item">
                        <h2 class="accordion-header collapsed pe-3"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseTeam"
                            aria-expanded="false"
                            aria-controls="collapseTeam">
                            <span class="single-col-accordion__title single-col-accordion__title--dark p-4">
                                What is the Northwestern Medicine West Health Accelerator?
                            </span>
                            <svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                                <circle cx="16" cy="16.199" r="15" stroke="#322071" stroke-width="2"/>
                                <!-- Horizontal Bar -->
                                <rect class="icon-bar-horizontal" x="6.58789" y="17.1404" width="1.88235" height="18.8235" transform="rotate(-90 6.58789 17.1404)" fill="#322071"/>
                                <!-- Vertical Bar (hidden by default) -->
                                <rect class="icon-bar-vertical" x="15.0586" y="7" width="1.88235" height="18.8235" fill="#322071"/>
                            </svg>

                        </h2>
                        <!-- Custom styled tab -->        
                        <div id="collapseTeam" class="accordion-collapse collapse" data-bs-parent="#teamAccordions">
                            <div class="accordion-body p-4">
                                <div class="row">
                                    <!-- Example team member -->
                                    <div class="col-md-6">
                                        <div class="h-100">
                                            <div class="card-body">
                                                <p>Integrated behavioral health (IBH) refers to mental healthcare models that use primary care practices to deliver treatment. Unlike traditional healthcare delivery tactics, which rely on specialist referrals, patients can get treatment for mental health concerns directly through their primary care provider. This involves an initial mental health screening at a primary care visit, and where patients identified as needing mental health services can receive them through programs in their primary care setting.</p>
                                                <p>This method of treatment avoids lost referral follow-ups, providing greater assurance that patients get the care they need, when they need it.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <img src="https://placehold.co/354x301" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header collapsed pe-3"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseTeam1"
                            aria-expanded="false"
                            aria-controls="collapseTeam1">
                            <span class="single-col-accordion__title single-col-accordion__title--dark p-4">
                                What is integrated behavioral health (IBH)?
                            </span>
                            <svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                                <circle cx="16" cy="16.199" r="15" stroke="#322071" stroke-width="2"/>
                                <!-- Horizontal Bar -->
                                <rect class="icon-bar-horizontal" x="6.58789" y="17.1404" width="1.88235" height="18.8235" transform="rotate(-90 6.58789 17.1404)" fill="#322071"/>
                                <!-- Vertical Bar (hidden by default) -->
                                <rect class="icon-bar-vertical" x="15.0586" y="7" width="1.88235" height="18.8235" fill="#322071"/>
                            </svg>

                        </h2>
                        <!-- Custom styled tab -->
                        <div id="collapseTeam1" class="accordion-collapse collapse" data-bs-parent="#teamAccordions1">
                            <div class="accordion-body p-4">
                                <div class="row">
                                    <!-- Example team member -->
                                    <div class="col-12">
                                        <div class="h-100">
                                            <div class="card-body">
                                                <p>Integrated behavioral health (IBH) refers to mental healthcare models that use primary care practices to deliver treatment. Unlike traditional healthcare delivery tactics, which rely on specialist referrals, patients can get treatment for mental health concerns directly through their primary care provider. This involves an initial mental health screening at a primary care visit, and where patients identified as needing mental health services can receive them through programs in their primary care setting.</p>
                                                <p>This method of treatment avoids lost referral follow-ups, providing greater assurance that patients get the care they need, when they need it.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>