<section class="statement-content-w-cards py-5">
  <div class="container">

    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <h2 class="statement-title mb-4">
          Research shows that only 50% of patients referred  to specialty mental health care attend their first appointment. The Northwestern Medicine <span class="statement-title--emphasis">Collaborative Behavioral Health Program (CBHP)</span> helps close this gap by integrating mental health services directly into primary care, allowing patients to receive timely, effective support from their primary care team.
        </h2>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-7 offset-lg-1">
        <p class="primary-copy mb-4">
          At Northwestern Medicine, primary care providers are working together with behavioral health experts to effectively treat mental health concerns like mild to moderate anxiety and depression. Patients can contact their primary care provider to get the care they need through the CBHP.
        </p>
        <p class="primary-copy">
          If you require emergency medical or mental health attention, please call 911 to access your local emergency services.
        </p>
      </div>
    </div>

    <div class="row mt-1 gy-4">
      <div class="col-md-6 col-lg-5 offset-lg-1">
        {% ContentCard
        "",
        "Enrollment for existing NM patients",
        "Do you have questions or concerns about your mental health? Contact your primary care provider to enroll in the Collaborative Behavioral Health Program today.",
        "What to Expect",
        "#"
        %}

      </div>

      <div class="col-md-6 col-lg-5">
        {% ContentCard
        "",
        "Need an NM primary care physician?",
        "You must have a Northwestern Medical Group Primary Care Physician to enroll in the Collaborative Behavioral Health Program. We can help you find a physician at a location that’s convenient for you.",
        "Find a Physician",
        "#"
        %}
      </div>
    </div>
  </div>
</section>