    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h2 class="accordion-header pe-3"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTeam"
                aria-expanded="true"
                aria-controls="collapseTeam">
                        <span class="tab-title rounded-top p-4">
                            The team
                        </span>
                <svg class="accordion-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                    <circle cx="16" cy="16.199" r="15" stroke="#574497" stroke-width="2"/>
                    <!-- Horizontal Bar -->
                    <rect class="icon-bar-horizontal" x="6.58789" y="17.1404" width="1.88235" height="18.8235" transform="rotate(-90 6.58789 17.1404)" fill="#574497"/>
                    <!-- Vertical Bar (hidden by default) -->
                    <rect class="icon-bar-vertical" x="15.0586" y="7" width="1.88235" height="18.8235" fill="#574497"/>
                </svg>
    
            </h2>
            <div class="accordion tabbed-container position-relative rounded" id="teamAccordions">
                <div class="accordion-item border-0">
                    <!-- Custom styled tab -->        
                    <div id="collapseTeam" class="accordion-collapse show" data-bs-parent="#teamAccordions">
                        <div class="accordion-body p-5">
                            <div class="row g-5">
                                <!-- Example team member -->
                                <div class="col-md-6 col-lg-4">
                                    <div class="h-100">
                                        <img src="https://placehold.co/300x300" class="card-img-top rounded mb-3" alt="Sachin Patel">
                                        <div class="card-body">
                                            <h5 class="accordion-item-title mb-2">Sachin Patel, MD, PhD</h5>
                                            <p>Chair, Department of Psychiatry and Behavioral Sciences</p>
                                            <p>Director, Center for Psychiatric Neuroscience - Northwestern Medicine</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="h-100">
                                        <img src="https://placehold.co/300x300" class="card-img-top rounded mb-3" alt="Cindy Barnard">
                                        <div class="card-body">
                                            <h5 class="accordion-item-title mb-2">Cindy Barnard, PhD</h5>
                                            <p>Lecturer, General Internal Medicine and Medical Social Sciences - Feinberg School of Medicine</p>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="col-md-6 col-lg-4">
                                    <div class="h-100">
                                        <img src="https://placehold.co/300x300" class="card-img-top rounded mb-3" alt="Lisa Rosenthal">
                                        <div class="card-body">
                                            <h5 class="accordion-item-title mb-2">Lisa J Rosenthal, MD</h5>
                                            <p>Chief, Division of Consultation Psychiatry</p>
                                            <p>Vice Chair, Clinical Affairs – Feinberg School of Medicine</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="h-100">
                                        <img src="https://placehold.co/300x300" class="card-img-top rounded mb-3" alt="Sachin Patel">
                                        <div class="card-body">
                                            <h5 class="accordion-item-title mb-2">Sachin Patel, MD, PhD</h5>
                                            <p>Chair, Department of Psychiatry and Behavioral Sciences</p>
                                            <p>Director, Center for Psychiatric Neuroscience - Northwestern Medicine</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-4">
                                    <div class="h-100">
                                        <img src="https://placehold.co/300x300" class="card-img-top rounded mb-3" alt="Cindy Barnard">
                                        <div class="card-body">
                                            <h5 class="accordion-item-title mb-2">Cindy Barnard, PhD</h5>
                                            <p>Lecturer, General Internal Medicine and Medical Social Sciences - Feinberg School of Medicine</p>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-md-6 col-lg-4">
                                    <div class="h-100">
                                        <img src="https://placehold.co/300x300" class="card-img-top rounded mb-3" alt="Lisa Rosenthal">
                                        <div class="card-body">
                                            <h5 class="accordion-item-title mb-2">Lisa J Rosenthal, MD</h5>
                                            <p>Chief, Division of Consultation Psychiatry</p>
                                            <p>Vice Chair, Clinical Affairs – Feinberg School of Medicine</p>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-6 col-lg-4">
                                    <div class="h-100">
                                        <img src="https://placehold.co/300x300" class="card-img-top rounded mb-3" alt="Lisa Rosenthal">
                                        <div class="card-body">
                                            <h5 class="accordion-item-title mb-2">Lisa J Rosenthal, MD</h5>
                                            <p>Chief, Division of Consultation Psychiatry</p>
                                            <p>Vice Chair, Clinical Affairs – Feinberg School of Medicine</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
