<section class="three-card-callout position-relative my-5 d-flex flex-column justify-content-center">
  <!--  Not sure if bg image should be editable, but set it up to be just in case-->
  <div class="three-card-callout-bg">
    <img src="/images/bg-usa.png" alt="">
  </div>
  <div class="container-lg py-5 position-relative three-card-callout-content">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-4">
        <div class="row">
          <!-- Editor should be able to at least make text <b> or <em> here, otherwise might need 'copy' and 
          'emphasisCopy'-type fields -->
          <h2 class="secondary-title text-center col-md-10 offset-md-1 mb-4 mb-md-0">A Corporis debitis dicta dolorem 
            doloremque nesciunt nisi odit tenetur vel. <b>room for improvement</b>.</h2>
        </div>
        <div class="js-stat-card-slider">
          <div class="row">
            <!-- We are using the 'card-stat' variant of cards here-->
            <!-- Repeat-->
            <div class="col-md-4 js-stat-card-slide">
              <div class="card card-stat shadow h-100">
                <div class="card-stat-value">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 33">
                    <path stroke="#000" stroke-width="2"
                          d="M16 1.333c8.288 0 15 6.69 15 14.935 0 8.244-6.712 14.935-15 14.935S1 24.513 1 16.268C1 8.024 7.712 1.334 16 1.334Z"/>
                    <rect width="1" height="14.934" x="15.5" y="8.801" fill="#000" stroke="#000" rx=".5"/>
                    <rect width=".996" height="15.004" x="8.498" y="16.766" fill="#000" stroke="#000"
                          stroke-width=".996" rx=".498" transform="rotate(-90 8.498 16.766)"/>
                  </svg>
                  <span>59M</span>
                </div>
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                  <div class="card-content-animate mt-auto">
                    <p class="card-text">Commodi cum dolore molestiae quae! Dignissimos explicabo, maiores porro quia soluta temporibus. Commodi cum dolore molestiae quae! Dignissimos explicabo, maiores porro quia soluta temporibus. </p>
                    <a href="#" class="card-link">Source</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- /Repeat-->
            <div class="col-md-4 js-stat-card-slide">
              <div class="card card-stat shadow h-100">
                <div class="card-stat-value">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 33">
                    <path stroke="#000" stroke-width="2"
                          d="M16 1.333c8.288 0 15 6.69 15 14.935 0 8.244-6.712 14.935-15 14.935S1 24.513 1 16.268C1 8.024 7.712 1.334 16 1.334Z"/>
                    <rect width="1" height="14.934" x="15.5" y="8.801" fill="#000" stroke="#000" rx=".5"/>
                    <rect width=".996" height="15.004" x="8.498" y="16.766" fill="#000" stroke="#000"
                          stroke-width=".996" rx=".498" transform="rotate(-90 8.498 16.766)"/>
                  </svg>
                  <span>59M</span>
                </div>
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Lorem ipsum dolor sit amet.</h5>
                  <div class="card-content-animate mt-auto">
                    <p class="card-text">Commodi cum dolore molestiae quae! Dignissimos explicabo, maiores porro quia soluta temporibus. </p>
                    <a href="#" class="card-link">Source</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 js-stat-card-slide">
              <div class="card card-stat shadow h-100">
                <div class="card-stat-value">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 33">
                    <path stroke="#000" stroke-width="2"
                          d="M16 1.333c8.288 0 15 6.69 15 14.935 0 8.244-6.712 14.935-15 14.935S1 24.513 1 16.268C1 8.024 7.712 1.334 16 1.334Z"/>
                    <rect width="1" height="14.934" x="15.5" y="8.801" fill="#000" stroke="#000" rx=".5"/>
                    <rect width=".996" height="15.004" x="8.498" y="16.766" fill="#000" stroke="#000"
                          stroke-width=".996" rx=".498" transform="rotate(-90 8.498 16.766)"/>
                  </svg>
                  <span>59M</span>
                </div>
                <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
                  <div class="card-content-animate mt-auto">
                    <p class="card-text">Commodi cum dolore molestiae quae! Dignissimos explicabo, maiores porro quia soluta temporibus. </p>
                    <a href="#" class="card-link">Source</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination d-md-none mt-3"></div>
        </div>
      </div>
    </div>
  </div>
</section>