<section class="content-with-image position-relative my-5">
    <div class="container-fluid container-xxl">
        <div class="row justify-content-center justify-content-md-start align-items-center align-items-md-start">
            <!-- Left Column - Image with bleed -->
            <div class="col-md-5 ps-2 ps-sm-0 ps-xxl-2">
                <img src="/images/home-cta-section.jpg" class="w-100 object-fit-cover ratio-11-10" alt="Feature image">
            </div>

            <!-- Right Column - Content -->
            <div class="col-10 col-md-5 col-xl-6 offset-md-1 content-column">
                <h2 class="secondary-title mt-4 mt-md-0 mb-4">How the Accelerator can work for you.</h2>
                <p class="mb-4">
                    Using the Accelerator to implement a collaborative care model in your health system can help optimize equity and access to programs, while seamlessly giving providers the support they need to do their best work. We’ve turned our research into easy-to-access resources and tools to help your team grow, collaborate, and facilitate rapid integration across the country.
                </p>
                <div>
                    <button type="button" class="btn btn-primary">Explore Resources</button>
                </div>
            </div>
        </div>
    </div>
</section>