footer {
    min-height: 500px;
    background-color: $glass-bg;
    backdrop-filter: blur(7px) brightness(100%);
    margin-top: 100px;

    &.footer-container, .footer-container {
        padding-left: 10px;
        padding-right: 10px;

        @media only screen and (min-width: 769px) {
            padding-left: 25px !important;
            padding-right: 25px !important;
        }
    }

    .footer-container {

        .footer-links {
            margin-top: 34px;

            .footer-nav-links {
                display: grid;
                grid-template-rows: repeat(3, auto);
                row-gap: 30px;
                column-gap: 55px;
                grid-auto-flow: column;

                @media only screen and (max-width: 768px) {
                    grid-template-rows: repeat(6, auto);
                }
            }
        }

        .footer-logo {
            display: flex;
            flex-direction: column;

            @media only screen and (max-width: 992px) {
                margin-top: 30px;
                width: 100%;
                padding-left: 0;
            }

            img.logo {
                width: 350px;
                margin-left: auto;

                @media only screen and (max-width: 992px) {
                    margin-left: unset;
                }
            }

            .icon-links {
                margin: 30px 0 0 0;
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                gap: 30px;

                @media only screen and (max-width: 992px) {
                    justify-content: flex-start;
                }
            }

            .social {

                &.icon-links {

                    a {

                        @media only screen and (max-width: 992px) {
                            padding: 10px 0 10px 15px;

                            &:first-child {
                                padding-left: 8px !important;
                            }
                        }
                    }
                }

                @media only screen and (max-width: 992px) {

                    li {
                        margin-left: 0;
                    }
                }
            }
        }

        .border-top {
            border-top: 2px solid $base-color !important;

            @media only screen and (max-width: 768px) {
                border-top: none !important;
            }
        }

        .sub-footer {
            font-size: $font-size-small !important;
            padding-bottom: 3em;

            .utility-links {

                @media only screen and (max-width: 768px) {
                    text-align: left !important;
                }
            }
        }

        .list-inline-item {
            margin-bottom: 30px;
        }
    }
}
