<div class="footer-overlay"></div>
<div class="footer-content">
    <div>
        <h2>Welcome To Better Aging</h2>
        <p class="medium-text">Tailored strategies for your new journey.</p>
        <a class="button" href="/what-to-expect.html">Plan Your Visit</a>
    </div>
    <div>
        <div class="footer-links">
            <div><a href="#" target="_blank">Patient Rights and Policies</a></div>
            <div><a href="#" target="_blank">Accessibility</a></div>
        </div>
    </div>
    <p>© 2025 by Northwestern Medicine® and Northwestern Memorial HealthCare.<br />Northwestern Medicine® is a trademark of Northwestern Memorial HealthCare, used by Northwestern University.</p>
</div>