<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <setting name="MailServer" value="cdhexmail.cdh.org" />
      <setting name="MailServerUserName" value="ailink" />
      <setting name="MailServerPassword" value="AI4cdh" />
      <setting name="MailServerPort" value="25" />
      <setting name="MailServerDomain" value="cdhs-net" />
    </settings>
  </sitecore>
</configuration>